<header class="container-fluid no-gutter top_bar" id="nav-section">
  <div class="row">
    <div class=" d-flex flex-row p-3 logo_block text-center">
        <img src="../../../../assets/logo_inner.png" alt="Logo" class="d-block logo_inner">
    </div>
    <div class="d-flex flex-row justify-content-end p-0 top_right ">
      <div class="mr-auto align-self-center heading_text">{{title}}</div>
      <div class="d-flex flex-row p-2 top_right_icons"> <a><span class="m-1 lnr lnr-bubble align-self-center"></span></a></div>
      <div class="d-flex flex-row p-2 top_right_icons"> <a><span class="m-1 lnr lnr-alarm align-self-center"></span></a> </div>
      <div class="d-flex flex-row p-2 top_right_icons"> <a class="user_profile"> <img src="../../../../assets/profile_img.png" alt="profile" /> </a> </div>
    </div>
  </div>  
</header>
