<div class="container-fluid no-gutter primay_bg h-100">
    <div class="row h-100">
        <div class="col-md-7 d-flex flex-column justify-content-end px-5 pt-5 pb-0" id="login-left-section">
            <div class="d-flex flex-row justify-content-end mb-auto">
                <img src="../../../../assets/login_logo.png" alt="Logo">
            </div>
            <div class="h2">A TRUSTED PARTNER FOCUSED ON SHAPING THE WORLD OF WORK</div>
            <p class="legend">
                Specialists in theworld of matching and placing talent to create workforce and workplace with increased efficiency and engagement
            </p>
            <p class="text-center copyrights legend mt-5">&copy; 2017 COPYRIGHTS RESERVED.</p>
        </div>
        <div class="col-md-5 d-flex flex-column justify-content-start" id="login-right-section">
            <div class="h5 text-center mt-5">FORGOT PASSWORD</div>
            <div class="align-middle mt-2 login_block">
                <form name="form" (ngSubmit)="f.form.valid && forgotPassword()" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !emailID.valid }">
                        <!-- <label for="username">Username</label> -->
                        <input type="text" class="form-control login_ip" name="email" [(ngModel)]="email" #emailID="ngModel" required placeholder="Email"
                        />
                        <div *ngIf="f.submitted && !emailID.valid" class="help-block">Email is required</div>
                    </div>

                    <div class="form-group">
                        <button [disabled]="loading" class="btn btn-light btn-block mt-5">
                            <strong>SEND</strong>
                        </button>
                        <!-- <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> -->
                        <!-- <a [routerLink]="['/register']" class="btn btn-link">Register</a> -->
                    </div>
                </form>
                <div class="d-flex flux-column text-center  mt-2">
                    <!-- <a class="txt_white" [routerLink]="['/forgot-password']">Forgot password?</a> -->
                    <!-- <a class="float-right">Sign up</a> -->
                </div>
            </div>
        </div>
    </div>

</div>